#header {
    display: flex;
    background-image: url('../images/header.png');
    background-size: cover;
    height: 150px;
    position: relative;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    border: solid 1px lightgray;
    padding: 10px;
}
#header-a {
    margin: auto;
    text-decoration: none;
    color: black;
    transition: .2s;
    position: relative;
}
#header-a:hover {
    box-shadow: 2px 2px 10px;
    border-radius: 10px;
}
#logo {
    width: 50px;
    height: 50px;
    z-index: 2;
}
#brand-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.71);
    border-radius: 10px;
    padding: 5px;
    height: 100%;
    box-sizing: border-box;
}
#site-title {
    font-size: 30px;
    margin: 0;
    font-family: 'Patrick Hand SC', cursive;
}
#site-subtitle {
    font-size: 20px;
    margin: 0;
    font-family: 'Patrick Hand SC', cursive;
}
