.loading-component {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loading {
    height: 45px;
    animation: spin 1s linear infinite;
}
.earth {
    width: 30px;
    height: 30px;
    position: absolute;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}