.post-link {
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
}
.post {
    overflow: hidden;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 2px 2px 5px;
    position: relative;
    width: 100%;
}
.title-container {
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    padding: 15px 0;
    background-color: rgba(255, 255, 255, 0.48);
    width: 100%;
}
.collapse {
    animation: collapseHeight .5s ease forwards; 
}
.open {
    box-sizing: border-box;
    animation: expandHeight .6s ease forwards;
}
.post-title {
    font-size: 20px;
    font-weight: bold;
    margin: 5px 0 ;
    color: rgb(42, 41, 41);
    font-family: 'Baloo 2', sans-serif;
    display: flex;
    justify-content: center;
}
.excerpt-container {
    display: none;
}
.excerpt-container p {
    box-sizing: border-box;
    font-family: 'Baloo 2', sans-serif;
    overflow: visible;
    margin: 0;
    padding: 10px;
    overflow: hidden;
}
.excerpt-open {
    display: block;
}
.thumbnail {
    height: 100%;
}

@keyframes expandHeight {
    from {
        height: 72px; 
    }
    to {
        height: 100%; 
    }
}
@keyframes collapseHeight {
    from {
        height: 86%; 
    }
    to {
        height: 42px; 
    }
}